.boton1{
    border: solid 1px white;
    width:100px;
    height: 30px;
    position: relative;
    left: 135px;
    top: 10px;
    border-radius: 7px;

}

.textob{
    color: white;
    font-size: 15px;
    position: absolute;
    font-family:'Roboto', sans-serif;
    letter-spacing: 1px;
    left: 170px;
    top: 503px;
}