.piedra1{
 width: 40px;
 position: relative;
 left: 32px;
 top: 32px;

 
}
.piedra{
 background-color: rgb(170, 52, 52);
 height: 110px;
 position: relative;
 width: 110px;
 
 left: 125px;
 top: 200px;
 border-radius: 100%;
}
.piedra2{
    background-color: rgb(255, 255, 255);
 height: 90px;
 position:absolute ;
 width: 90px;
 left: 10px;
 top: 10px;
 border-radius: 100%;
}

.triangulo1{
    position: relative;
    width: 200px;
   
   
    
}
