.piedra1{
 width: 40px;
 position: relative;
 left: 20px;
 top: 20px;
 margin: 0px;
 
}
.piedra{
   border: solid 13px rgb(223, 52, 84);
 background-color: rgb(255, 255, 255);
 height: 80px;
 position: relative;
 width: 80px;
 margin: 0px;
 border-radius: 100%;
 top: 160px;
 left: 90px;
}

.triangulo{
   top: 130px;
   width: 0px;
   left: 20px;
   display: flex;
   position: relative;   
   margin: 0px;
    align-items: center;
}



.papel{
   background-color: rgb(255, 255, 255);
 height: 80px;
 position: relative;
 width: 80px;
 margin: 0px;
 border-radius: 100%;
 border: solid 13px rgb(73, 104, 247);
left: -90px;
top: 60px;
}

.papel2{
   margin: 0px;
   width: 40px;
   position: relative;
   left: 20px;
   top: 20px;
  display: flex;
}

.tijeras{
   background-color: rgb(255, 255, 255);
   height: 80px;
   position: relative;
   width: 80px;
   margin: 0px;
   border-radius: 100%;
   border: solid 13px rgb(234, 158, 12);
   top: 60px;
   left: -50px;
}


.tijeras2{
   margin: 0px;
   width: 40px;
   position: relative;
   left: 20px;
   top: 15px;
}

.contenedormayor{
display: flex;
align-items: center;
position: absolute;
left: 30px;
margin: 0px;
top: 130px;
}
.cerar1{
   position: absolute;
   top: 320px;
}


